*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}

@font-face {
  font-family: chorettan;
  src: url(./BoldaSans.ttf);
}

body{
background-color: #000;
}
ul{
  list-style: none;
}
section{border-bottom: 2px solid #fff;border-top: 2px solid #fff;}

.protfolio{
margin:20px;
border: solid 4px #000;
overflow: hidden;
border-color: #fff;

}
header{
background-color: #232323;
}
.name h4{
color: #ffdf91;
}
.nav-inner-list{
width: 100%;
}
.nav-list{
list-style: none;
display: flex;
align-items: center;
justify-content: space-evenly;
width: 100%;
margin: 0;
height: 100%;
}
.nav-list li a{
color: #fff;
text-decoration: none;
position: relative;
z-index: 1;
}

.nav-list li a::before{
content: "";
  display: block;
  width: 100%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  background-color: #ffdf91;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.nav-list li a:hover::before{
  background-color: #ffdf91;
  opacity: 1;
}
.name{
/* border-right: 2px solid #ffff; */
height: 100%;
padding: 20px;
text-align: center;
}
.intro-section{
  padding: 80px 0px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.intro-section::before{position: absolute;content: "";background: #ffe091;border: 3px solid #676464; width: 200px; height: 200px; border-radius: 20px; left: -50px; top: -50px; animation: rotate 5s infinite linear;z-index: -1;}
.intro-section::after{position: absolute; content: ""; background: #ffe091; width: 250px; height: 250px;right: -80px;bottom: -100px;border-radius: 50px; animation: rotate 10s infinite linear; border: 3px solid #676464;z-index: -1;}
.intro-name span{
color: #F3FF90;
font-size: 20px;
font-family: chorettan;
font-size: 60px;
}
.intro-name h1{
font-size: 70px;
font-weight: 600;
color: transparent;
-webkit-text-stroke: 1px #ffdf91;
background-image: url(text-animation.webp);
background-position: 0 0;
animation: text-animation 10s infinite;
-webkit-background-clip: text;
text-transform: uppercase;
}
.intro-name p{
color: #F3FF90;
}
@keyframes text-animation{
100% {
  background-position: 2000px 0;
}
}
.web{
font-size: 20px;
font-weight: 600;
}
.social-links{
list-style: none;
display: flex;
padding: 0;
}
.social-links li{
margin-right: 20px;
height: 35px;
width: 35px;
background-color: #232323;
display: flex;
align-items: center;
justify-content: center;
border-radius: 25px;
position: relative;
}
.social-links li::before{
position: absolute;
content: "";
top: 0;
left: 0;
border: 1px solid #F3FF90;
width: 100%;
height: 100%;
border-radius: 25px;
animation: circle 2s infinite;
z-index: -1;

}
.team-member .social-links{
  margin-top: auto;
}
.team-member .social-links li::before {
  border: 1px solid #232323;
  z-index: 0;
}
.team-member .social-links li a{
  z-index: 3;
}
@keyframes circle{
0%, 100%{
  transform: scale(1);
}
50%{
  transform: scale(1.3);
}
}
.social-links li a{
font-size: 20px;
color: #ffdf91;
cursor: pointer;
}
.skills-icon-in-intro{
  position: relative;
  height: 100%;
}
.skills-icon-list{
  display: flex;
  list-style: none;
  padding: 0;
}
.skills-icon-list li{
  background-color: #F3FF90;
  margin: 20px;
  position: absolute;
  animation: circle 5s infinite;
}
.html{
  top: 5px;
  left: 80px;
  padding: 18px;
  border-radius: 35px;
}
.css{
  top: -20px;
  right: 60px;
  padding: 23px;
  border-radius: 40px;
}
.bootstrap{
  bottom: 5px;
  left: 60px;
  padding: 25px;
  border-radius: 47px;
}
.js{
  bottom: 90px;
  left: 240px;
  padding: 27px;
  border-radius: 45px;
}
.react{
  bottom: 20px;
  right: 15px;
  padding: 12px;
  border-radius: 28px;
}
.php{
  bottom: -40px;
  right: 140px;
  padding: 10px;
  border-radius: 25px;
}

.title h2{font-family:  chorettan; color: #ffdf91;font-size: 55px;text-align: center;padding-bottom: 20px;}
/* .w-1 h2{font-family:  chorettan; color: #232323;font-size: 55px;text-align: center;padding-bottom: 20px;} */
figcaption{color: #000;font-weight: 700;}
.skills{padding: 50px 0;}
.list-of-skills{display: flex;align-items: center;justify-content: space-evenly;}
.list-of-skills li{text-align: center; background: #F3FF90;border-radius: 10px;
  width: 100px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;transform:rotate3d(1, 1, 1, 0deg);transition: 0.5s ease-in-out;}
  .list-of-skills li:hover{background: #ffdf91;box-shadow: 10px 10px 10px -6px #ffffff2e;transform:rotate3d(1, 1, 1, 360deg);}


/* .item img{width: 500px !important;} */
.portfolio{padding: 50px 0;}
.owl-theme .item{position: relative;overflow: hidden;transition: 0.5s ease-in-out;}
.owl-theme .item p{position: absolute;bottom: -30px;right:-200px; border-radius: 100px;width: 130px;height: 130px;display: flex;align-items: center;justify-content: center; font-weight: 700;background-color: #232323; color: #ffdf91;transition: 0.5s ease-in-out;}
.owl-theme .item::before{content: "";position: absolute;width: 0%; height: 100%;background: #232323bd;top: 0;left: 0;transition: 0.5s ease-in-out; transform: rotate(0deg);}
.owl-theme .item:hover::before{width: 100%; transform: rotate(180deg);}
.owl-theme .item:hover p{right: -30px;}
/* .owl-theme .item p::before{position: absolute;content: ""; width: 95px;bottom:0px;right:0px; height: 95px; border: 5px dotted #ffdf91; border-radius: 100px;} */
.owl-theme .item p i{padding-left: 10px;display: flex;align-items: center;justify-content: center;}
.owl-theme .item{margin-bottom: 30px;}



.work-exp{width: 100%;padding: 50px 0;background-image: url(work-bck.webp);background-repeat: no-repeat;background-position-x:left;background-position-y: bottom; background-size: calc(65%);}
.workdetails ul, .company-details h3{color: #F3FF90;}
.company-details span{color: #ffdf91; font-weight: 700; font-size: 17px;}
.company-details{padding-bottom: 30px;}
.workdetails ul{padding: 0;}
.workdetails ul li{padding-bottom: 20px;}
.workdetails ul li i{padding-right: 20px;}


.edu-cert{padding: 50px 0;position: relative;overflow: hidden;}
.edu-cert::before{position: absolute;content: "";background: #000;border: 3px solid #676464; width: 200px; height: 200px; border-radius: 20px; left: -50px; top: -50px; animation: rotate 5s infinite linear;z-index: -1;}
.edu-list{ color: #ffdf91; padding-left: 0;}
.edu-list li{display: flex;margin-bottom: 25px;list-style: none;}
.education-cert{display: flex;}
.edu-img{text-align: center;}
.edu-img img{width: 300px; border-radius: 100%;}
.education-cert .edu-list{width: 50%;}
.icon-edu{width: 50px;height: 50px; border-radius: 30px;background-color: #ffdf91; color: #232323;display: flex;align-items: center;justify-content: center;margin-right: 20px;}
.edu-cer-title h5{position: relative;}
.edu-cer-title h5::before{position: absolute;content: "";height: 3px; width: 100%;background-color: #232323;bottom: -5px;left: 0;border-radius: 10px;}

.contact-us {padding: 50px 0;}
.contact-us h4{color: #ffdf91;}

.footer-section{padding: 50px 0;position: relative;overflow: hidden;}
.footer-section::before{position: absolute; content: ""; background: #000; width: 300px; height: 300px;right: -100px;bottom: -100px;border-radius: 50px; animation: rotate 10s infinite linear; border: 3px solid #676464;z-index: -1;}
@keyframes rotate {
  0%{rotate: 0deg;}
  100%{rotate: 360deg;}
}
.contact-links{padding: 0;}
.contact-links li{list-style: none;padding-bottom: 15px;rotate: 0deg; transition: 0.3s ease-in-out; margin-left: 0;}
.contact-links li:hover{list-style:circle; margin-left: 20px; color: #ffe091b4;}
.contact-links li:hover a{color: #ffe091b4;}
.contact-links li a{text-decoration: none; color: #ffdf91; font-size: 17px;}
.footer-title h5{font-family: chorettan; color: #ffdf91; font-size: 35px;position: relative; display: inline-block;}
.footer-title h5::before{position: absolute; content: "";width: 100%; height: 3px; background: #232323;bottom: 0;left: 0;}
.footer-img img{border-radius: 10%;width: 260px;}


@media (min-width: 100px) and (max-width: 767px){
  .banner-design-hm{height: 310px; display: inline-block;}
  .list-of-skills{display: block;padding: 0;display: grid;grid-template-columns: 50% 50%; align-content: center;}
  .list-of-skills li{ margin: 10px;width: 95%;}
  .education-cert{display: block;}
  .edu-list{width: 100% !important;}
  .social-links{ align-items: center;justify-content: center;padding-top: 10px;}
  .footer-img img{width: 100%;}
  .footer-title{margin-top: 30px;}
  .nav-list{display: none;}
  .overlay, .menu{display: block !important;}
  .col-mob{width: 50%;}
  .menu{float: right;margin-top: 33px; color: #ffdf91;}
  .menu i{font-size: 30px;}
  .css {top: -2px;right: 52px;}
  .html {top: 37px;left: 26px;}
  .edu-cer-title{margin-top: 15px;}
  .protfolio{margin: 5px !important;}
  .php{    right: 186px;}
  .js{left: 170px;}
  .edu-list{padding-left: 5px;}
  .team-content{max-width: auto; width: auto;}
  .team{ margin-bottom: 25px;}
}
@media (min-width: 768px) and (max-width: 991px){
  .footer-img img{width: 100%;}
  .education-cert{display: block;}
  .education-cert .edu-list{width: 100%;}
}
.overlay, .menu{display: none;}

img {
  max-width: 100%;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.about-us {
  p {
    color: #ffdf91;
    font-size: 16px;
  }
  ul {
    list-style: disc;
  }
  li {
    color: #ffdf91;
  }
}

.headhshsot-img{
  border-radius: 100%;
}
.headhshsot-img img{
  border-radius: 100%;
  width: 150px;
  height: 150px;
}
.team-member {
  background-color: #F3FF90;
  padding: 20px;
  border-radius: 10px;
  height: 100%;
}
.team-content {
      min-height: 330px;

}
.team-content h2 {
  margin-block: 15px;
}

.hidden {
  display: none;
}

.sticky-button {
  position: fixed;
  background-color: #25d366;
  bottom: 20px;
  right: 20px;
  border-radius: 50px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  z-index: 20;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.sticky-button svg {
  margin: auto;
  fill: #fff;
  width: 35px;
  height: 35px;
}

.sticky-button a,
.sticky-button label {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 55px;
  height: 55px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.sticky-button label svg.close-icon {
  display: none;
}

.sticky-chat {
  position: fixed;
  bottom: 70px;
  right: 20px;
  width: 320px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 21;
  opacity: 0;
  visibility: hidden;
}

.sticky-chat a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #505050;
}

.sticky-chat svg {
  width: 35px;
  height: 35px;
}

.sticky-chat .chat-content {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.sticky-chat .chat-header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  background-color: #25d366;
  overflow: hidden;
}

.sticky-chat .chat-header:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  height: 75px;
  background: rgba(0, 0, 0, 0.04);
  border-radius: 70px 0 5px 0;
}

.sticky-chat .chat-header svg {
  width: 35px;
  height: 35px;
  flex: 0 0 auto;
  fill: #fff;
}

.sticky-chat .chat-header .title {
  padding-left: 15px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.sticky-chat .chat-header .title span {
  font-size: 11px;
  font-weight: 400;
  display: block;
  line-height: 1.58em;
  margin: 0;
  color: #f4f4f4;
}

.sticky-chat .chat-text {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 20px;
  font-size: 12px;
}

.sticky-chat .chat-text span {
  display: inline-block;
  margin-right: auto;
  padding: 10px;
  background-color: #f0f5fb;
  border-radius: 0px 15px 15px;
}

.sticky-chat .chat-text span:after {
  content: "just now";
  display: inline-block;
  margin-left: 2px;
  font-size: 9px;
  color: #989b9f;
}

.sticky-chat .chat-text span.typing {
  margin: 15px 0 0 auto;
  padding: 10px;
  border-radius: 15px 0px 15px 15px;
}

.sticky-chat .chat-text span.typing:after {
  display: none;
}

.sticky-chat .chat-text span.typing svg {
  height: 13px;
  fill: #505050;
}

.sticky-chat .chat-button {
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding: 12px 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.sticky-chat .chat-button svg {
  width: 20px;
  height: 20px;
  fill: #505050;
  margin-left: auto;
  transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
}

.chat-menu:checked + .sticky-button label {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.chat-menu:checked + .sticky-button label svg.chat-icon {
  display: none;
}

.chat-menu:checked + .sticky-button label svg.close-icon {
  display: table-cell;
}

.chat-menu:checked + .sticky-button + .sticky-chat {
  bottom: 90px;
  opacity: 1;
  visibility: visible;
}
